@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* FORCE HIDE SCROLLBARS ON EVERYTHING */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
  scrollbar-width: none !important;
  /* Firefox */
  -ms-overflow-style: none !important;
  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera globally */
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-primary: #5044E5;
  --color-primary-light: #4d8cea;
  --gradient-primary: linear-gradient(to right, #5044E5, #4d8cea);
}